<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Filter Employee Details </title>
  </head>
  <body>
    <h1>Filter Employee Details</h1>
    <hr>
    <div class="container">
        <form action="/filter-emp/" method="post">   
            {% csrf_token %}         
            <label>First Name / Last Name</label>
            <input type="text" class="form-control" name="name" value="{{name}}" placeholder="Enter first name or last name"><br>         
                            
            <label>Department</label>
            <input type="text" class="form-control" name="dept" value="{{dept}}" placeholder="Enter department name"> <br>            
              
            <label>Role</label>
            <input type="text" class="form-control" name="role" value="{{role}}" placeholder="Enter role name"><br>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <p class="text-center"><a href={% url 'logout' %}>Logout</a></p>
  </body>
</html>